* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  scroll-behavior: smooth;
}

$primary-color: #3976ab;
$text-color: #5e5e5e;
$text-color2: darken($text-color, 25%);
$footer-color: #222;

$desktop: 2560px;
$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 525px;
$mobileS: 320px;

button:focus {
  outline: 0;
}

@mixin transition-ease {
  transition: 0.5s ease-in-out;
}

@mixin transition-ease-fast {
  transition: 0.25s ease-in-out;
}

@mixin transition-ease-supersonic {
  transition: 0.15s ease-in-out;
}

.invisible {
  display: none;
}

.nav-active {
  background-color: "white";
  height: 70px;
}
