#portfolio {
  width: 100%;
  height: 2150px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  background: #f2f2f2;
  overflow-y: hidden;
}
.portfolio-container {
  width: 1050px;
  margin: 0 auto;
}

h1 {
  font-family: "Lobster";
  text-align: center;
  color: $primary-color;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}

.project-type {
  color: $text-color2;
  font-weight: 500;
  font-size: 22px;
  padding: 30px 0 5px 0;
  margin: 0 auto 10px auto;
  width: 200px;
}

p {
  color: $text-color;
  font-size: 20px;
}

.websites-wrapper,
.graphic-wrapper {
  padding-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #999;
}

.row-wrapper {
  padding-top: 30px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 1s ease-out;
}
.project {
  margin-bottom: 80px;
}

.img-container {
  overflow: hidden;
  width: 473px;
  height: 236px;
}

.project-image {
  width: 473px;
  height: 236px;
  background: white;
  cursor: pointer;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.project-info {
  width: 440px;
  height: 75px;
  align-items: center;
  justify-content: space-around;

  h3 {
    color: $text-color2;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    line-height: 32px;
    font-size: 18px;
    text-align: center;
  }

  button {
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    height: 40px;
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background: $primary-color;
    color: white;
    padding: 0px;
    margin: 0px;
    @include transition-ease-fast;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 9px 15px -8px rgba(0, 0, 0, 0.75);
    }
  }

  .view-site {
    width: 160px;
  }
}
.cta {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 440px;
}

.img-focused {
  display: block;
  width: 960px;
  height: 483px;
  background-size: unset;
  background-repeat: no-repeat;
}

.enlarged-wrapper {
  //display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.img-wrapper {
  display: flex;
  margin: 15rem auto;
  width: 960px;
  height: 483px;
}

.enlarged-img {
  display: block;
}

.fa-times {
  display: block;
  font-size: 32px;
  color: white;
  padding-left: 10px;
  cursor: pointer;
}

.podcast-menu {
  display: flex;
  margin: 25px auto 25px auto;
  width: 360px;
  height: 60px;
  justify-content: center;
  align-items: center;

  p {
    margin: 15px 35px 15px 35px;
    cursor: pointer;
    color: $text-color2;

    &:hover {
      border-bottom: 1px solid #999;
    }
  }
}

.pc-wrapper {
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
    padding: 0px 0 20px 0;
    border-bottom: 1px solid $text-color;
  }
}

@media (max-width: $mobileL) {
  .phone-wrapper {
    width: 100%;
  }
}

.project-anim-show {
  opacity: 1;
  animation: project-anim-show 0.3s ease-out;
}

@keyframes project-anim-show {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.project-anim-hide {
  animation: project-anim-hide 0.3s ease-out;
}

@keyframes project-anim-hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(35px);
  }
}

.fade-in {
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.3s ease-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.projects-slide {
  opacity: 1;
  transform: translateY(-12px);
}

@media (max-width: $laptopL) {
  #portfolio {
    padding-top: 0;
  }

  .img-wrapper {
    margin-top: 8rem;
  }
}

.portfolio-up {
  animation: portfolio-up 0.75s ease-in-out;
}

@keyframes portfolio-up {
  from {
    height: 1550px;
  }

  to {
    height: 750px;
  }
}

@media (max-width: $laptop) {
  #portfolio {
    width: 100%;
  }

  .portfolio-container {
    width: 900px;
  }

  .project {
    width: 380px;
  }

  .row-wrapper {
    width: 900px;
  }

  .project-image,
  .img-container {
    width: 380px;
    height: 200px;
  }

  .project-info {
    width: 380px;
  }

  .project-info > a {
    margin: 0px;
  }
}

@media (max-width: $mobileL) {
  #portfolio {
    height: 3500px;
    margin-top: -100px;

    h1 {
      text-align: center;
    }
  }

  .project-type {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .portfolio-container {
    width: 100%;
    margin: 0 auto;
  }

  .websites-wrapper {
    margin: 0;
  }

  .row-wrapper {
    flex-wrap: wrap;
    width: 320px;
    height: 300px;

    margin: 0 auto 350px auto;
  }

  .img-container {
    width: 320px;
  }

  .project-image {
    width: 320px;
    height: auto;
  }

  .project {
    margin: 0px;
    height: 200px;
  }

  .project-info {
    width: 320px;
    height: 200px;
  }

  .cta {
    width: 320px;
    flex-wrap: wrap;

    button {
      margin-bottom: 20px;
    }
  }

  .phone-wrapper {
    img {
      width: 100%;
    }
  }
}
